body{background-color:black !important;}
.intro{
    display: flex;
    justify-content: space-between;
    margin: 0%;
    margin-bottom: 10px;
    position: relative;
    background-color: black;
    
}


li {
    display: inline-block;
    padding: 20px
}



li a{
    text-decoration: none;
    color:red;
    font-weight: bold;
}
a:hover{
    color: aqua;
}


.image{
    border-radius: 300px;
    border-width: 5px;
    margin: auto;
    height: auto;
    width: auto;
    float: left;
}

.name{
    position: relative;
    top: 100px;
    color:yellow;
    font-weight: bold;
    font-style: oblique;
    
}
.home1{ 
    
}
.homebox{
    height: 600px;  
    display: flex;
    flex-direction: column;
   padding-left: 30px;
    
}
.about{
    color:red;
    margin: 20PX;
    margin-top:7em;
   min-height: 1200px;
}
.skill{
    color:red;
    margin: 20PX;
    margin-top:20px;
    height: 1000px;
}
.contact{
    margin-top:15em ;
    text-align: center;
    color: aqua;
    height: auto;
   
}
.form{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    color:blueviolet;
    font-weight: 500px;
    font-size: large;
}


  /* for mobile view css */
@media (max-width:768px)  {
    /* body {
        background-color:red;
      }
    .intro{
        width: 100em;
        font-weight: bolder;
        font-size: xx-large;
     }  */
    .image{
        
        float:none;
        border-color: rgb(206, 17, 17);
    border-width: 20px;
    }
    .cert-img{
    
    margin: auto;
    min-height: none;
    min-width: none;
    float: left;
}
    .homebox{
       margin-left: 10px;
        font-weight: bolder;
        font-size: x-large;
        

    }
     .about{
        margin-top: 5em;
        min-width: none;
        font-weight: bolder;
        min-height: 100em;
    }
    .contact{
    margin-top:auto ;
    text-align: center;
    color: aqua;
    height: auto;
   
}
    /*
    .skill{
        margin-top: 15em;
        width: 100vh;
        font-weight: bolder;
        height: 50em;

    }
    .contact h1{
        margin-left: 10em;
       
    }
    .links{
        margin-left: 2em;
        width: 50em;
       
    }
    .form{
        display: none;
    }
  }  */
}